@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-thin {
    font-family: 'FiraSans_100Thin';
  }

  .font-extralight {
    font-family: 'FiraSans_200ExtraLight';
  }

  .font-light {
    font-family: 'FiraSans_300Light';
  }

  .font-normal {
    font-family: 'FiraSans_400Regular';
  }

  .font-medium {
    font-family: 'FiraSans_500Medium';
  }

  .font-semibold {
    font-family: 'FiraSans_600SemiBold';
  }

  .font-bold {
    font-family: 'FiraSans_700Bold';
  }

  .font-extrabold {
    font-family: 'FiraSans_800ExtraBold';
  }

  .font-black {
    font-family: 'FiraSans_900Black';
  }

  /* Italic versions */
  .font-thin.italic {
    font-family: 'FiraSans_100Thin_Italic';
  }

  .font-extralight.italic {
    font-family: 'FiraSans_200ExtraLight_Italic';
  }

  .font-light.italic {
    font-family: 'FiraSans_300Light_Italic';
  }

  .font-normal.italic {
    font-family: 'FiraSans_400Regular_Italic';
  }

  .font-medium.italic {
    font-family: 'FiraSans_500Medium_Italic';
  }

  .font-semibold.italic {
    font-family: 'FiraSans_600SemiBold_Italic';
  }

  .font-bold.italic {
    font-family: 'FiraSans_700Bold_Italic';
  }

  .font-extrabold.italic {
    font-family: 'FiraSans_800ExtraBold_Italic';
  }

  .font-black.italic {
    font-family: 'FiraSans_900Black_Italic';
  }

  /* Default font families */
  .font-sans {
    font-family: 'FiraSans_400Regular';
  }

  .font-serif {
    font-family: 'Alice_400Regular';
  }

  .font-mono {
    font-family: 'FiraSans_400Regular';
  }
}
